<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SIGHPy Online: About</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h2> SIGHPy stands for Sometimes It Gets Hot Py, a riff on the subject of our hack: data centre emissions.</h2>
    <p> Built for NASA's COVID19 Challenge, we are looking to track and better understand the impact that COVID19 has had on data center emissions, and beyond that provide better context and scale to the impact of computational power on the environment at a more granular level.</p>
    {% endblock %}
  </body>
</html>
