<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SIGHPy Online: Calculator</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h2> SIGHPy Calculator </h2>
    <form method="POST">
      <input name="text">
      <input type="submit">
    </form>
    {% if data %}
      <table>
      {% for d in data %}
        <tr><td>{{d}}</td></tr>
      {% endfor %}
      </table>
    {% else %}
      <h3> Calculate some stuff. </h3>
    {% endif %}
    {% endblock %}
  </body>
</html>
