<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Parent Template</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/template.css') }}">
</head>
<body>
   <header>
     <div class="container">
       <h1 class="logo" style="font-size: 35px">SIGHPy</h1>
       <br><br><br>
         <table>
           <tr style="font-size: 18px">
             <td><a href="{{ url_for('home') }}" style="text-decoration: none">Home</a></td>
             <td><a href="{{ url_for('data') }}" style="text-decoration: none">Data</a></td>
             <td><a href="{{ url_for('about') }}" style="text-decoration: none">About</a></td>
          </tr>
        </table>
      <br>
     </div>
   </header>

   {% block content %}
   {% endblock %}

</body>
</html>
